<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://github.com/ffrancisco-rosa" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/francisco-abilio-rosa/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
