<div class="container _head-main">
  <div class="row _front-page-info">
    <div class="col-sm-7 _profile-info">
      <h2>Francisco Rosa</h2>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis bibendum ligula, et faucibus nibh. Nam vitae libero felis. Nulla eu justo nisl. Sed sodales, nisi id hendrerit aliquam, ante nulla fermentum est, at vestibulum velit nunc eget eros. Curabitur condimentum nisi nec feugiat consectetur. Curabitur sit amet egestas ante, non vehicula justo. Sed dapibus nulla nec quam dapibus, suscipit mollis ante tristique. Sed efficitur ornare eros, eget finibus purus ultrices at. Vivamus imperdiet ultrices nunc. Duis a suscipit velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      </div>
    </div>
    <div class="col-sm-5">
      <h2>Projects</h2>
    </div>
  </div>
</div>
