
  <div class="row landin-content">

    <div class="col-sm-6">
      <h2>About Me</h2>
      <div class="About Text">

      </div>
    </div>
    <div class="col-sm-3">
      <h2>Recent Projects</h2>
      <div class="projects-list">
        <% @projects.each do |project| %>
        <p> <%= project.title %></p>
        <p> # 346- Content Example</p>
        <p> # 346- Content Example</p>
        <% end %>
      </div>
      <%= link_to "See More", projects_path, class: "btn btn-success btn-block" %>
    </div>
    <div class="col-sm-3">
      <h2>Blog</h2>
      <div class="blog-list">
        <p> # 346- Content Example</p>
        <p> # 346- Content Example</p>
        <p> # 346- Content Example</p>
      </div>
      <%= link_to "See More", posts_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
