<div class="top">
  <div class="container _head-main">
  <%= render 'shared/navbar' %>

          <div class="homepage-info">
          <h1 class="h1">Francisco Rosa</h1>
          <h3>Web Developer</h3>
          <div>
            <%= button_to "Projects" %>
          </div>
        </div>
      <div class="main-info">
        <%= cl_image_tag("profile-pic", heigth: "100%", width: 200) %>
      </div>
  </div>
</div>
