<!-- <div class="container">

  <%# @projects.each do |project| %>
  <div class="card" style="width: 18rem;">
    <%#= cl_image_tag(project.thumbnail.key, class: "card-img-top p-2") %>
    <div class="card-body">
      <h5 class="card-title"> <%#= project.title %> </h5>
      <p class="card-text"></p>
    </div>
      <a href="<%#= project.github_version %>" target="_blank"> Check Code</a>
      <a href="<%#= project.live_version %>" target="_blank"> Live App</a>
  </div>
  <%# end %>
</div> -->

<div class="container">
  <% if user_signed_in? %>
    <%= link_to "New Project", new_project_path %>
  <% end %>

  <h2>My Portfolio</h2>
  <div class="cards">
    <% @projects.each do |project|  %>
      <div class="card-trip">
        <%= cl_image_tag(project.thumbnail.key) %>
        <div class="card-trip-infos">
          <div>
            <h2> <% project.title %> </h2>
            <p>Short description here!</p>
          </div>
         </div>
        <div class="misc">
            <a href="<%= project.github_version %>" target="_blank"> Check Code</a><br>
          </div>
          <div class="misc">
            <a href="<%= project.live_version %>" target="_blank"> Live App</a><br>
          </div>
<!--           <div class="misc">
            <%#= link_to "More Details", project_path(project) %>
          </div> -->
      </div>
    <% end %>
  </div>
  <h5>More to come!!!</h5>
</div>



