<div class="container">
  <% if user_signed_in? %>
    <%= link_to "New Project", new_project_path %>
  <% end %>

  <% @projects.each do |project| %>
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag(project.thumbnail.key, class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"> <%= project.title %> </h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <% end %>
</div>
