.navbar-lewagon {
  justify-content: space-between;
  border-bottom: solid;
  border-color: #026670;
  background-color: #026670;
  padding: 0;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
    height: 60px;
    width: 80px;
    margin-left: 48px;
    margin-top: 0;
}

#navbarSupportedContent {
  margin-right: 48px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}
