.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  height: 100px;
    img {
  border-radius: 50%;
  margin-top: 54px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


